.image_fit{
    width: 30%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid #ddd;
    object-fit: cover
}

.image_fit_down{
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: scale-down
}